<div class="search-options-container">
    <div class="search-text">
        <a id="clear-search" class="btn secondary">Clear all</a>
        <!--<a href="#" id="near-me-btn" class="btn secondary"><i class="icon-marker"></i>Use my location</a>-->
    </div>
    <ul>
        <li><div class="header"><span class="title">I want to work...</span></div>
            <ul id="search-work">
                <li class="filter-option work work_in_a_library" data-id="work_in_a_library"><div><i class="icon-tick"></i><p>In a library</p></div></li>
                <li class="filter-option work work_private" data-id="work_private"><div><i class="icon-tick"></i><p>Alone, in private</p></div></li>
                <li class="filter-option work work_close" data-id="work_close"><div><i class="icon-tick"></i><p>Where others are working</p></div></li>
                <li class="filter-option work work_friends" data-id="work_friends"><div><i class="icon-tick"></i><p>With friends</p></div></li>
                <li class="filter-option work work_group" data-id="work_group"><div><i class="icon-tick"></i><p>On a group project</p></div></li>
            </ul>
        </li>
        <li><div class="header"><span class="title">Atmosphere</span></div>
            <ul id="search-atmosphere">
                #{atmosphere[<li class="filter-option atmosphere #{attr}" data-id="#{attr}"><div><i class="icon-tick"></i><p>#{value}</p></div></li>]}
            </ul>
        </li>
        <li><div class="header"><span class="title">Noise levels</span></div>
            <ul id="search-noise">
                #{noise[<li class="filter-option noise-level #{title(attr="" transform="lowercase")}" data-id="noise_#{title(attr="" transform="lowercase")}"><div><i class="#{title(icon)}"></i><p>#{title}</p></div></li>]}
            </ul>
        </li>
        <li><div class="header"><span class="title">Facilities</span></div>
            <ul id="search-facilities">
                #{facilities[<li class="filter-option facility #{attr}" data-id="#{attr}"><div><i class="#{icon}"></i><p>#{value}</p></div></li>]}
            </ul>
        </li>
    </ul>
</div>
