{% comment %}
  Placeholder to allow defining custom content for the bottom of the <body>
{% endcomment %}

<script defer src="https://cdn.jsdelivr.net/npm/a11y-dialog@7.0.0/dist/a11y-dialog.min.js" integrity="sha256-qWTjNAVDE4xlFTDeuvNj6VeO50JK85+4njt7PJpFsJg=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.js" integrity="sha256-ouvpTGokHqH5/hbDnAsleEpwThbrQ4+k0VU7PWtfm9M=" crossorigin="anonymous"></script>
<script defer src="{{ "/assets/scripts/cookieconsent.js" | absolute_url }}"></script>

