        <form id="filter-options-form" action="/" method="get">
            <div class="top-controls">
                <div>
                    <label for="search-input" class="visuallyhidden">Search</label>
                    <input id="search-input" type="search" placeholder="Search">
                </div>
                <div class="searchbuttons">
                    <button type="reset" id="search-reset" class="btn" disabled>Reset</button>
                    <button type="submit" id="search-submit" class="btn" aria-controls="searchResultsSummary" disabled>Search</button>
                </div>
            </div>
            <div class="panel-content">
            {%- for filter in site.data.filters -%}
                {%- assign ecl = '' -%}
                {%- if filter.exclusive -%}
                    {%- assign excl = ' class="exclusive"' -%}
                {%- else -%}
                    {%- assign excl = '' -%}
                {%- endif -%}
                {%- assign open = 'false' -%}
                {%- assign hidden = 'true' -%}
                {%- assign hiddenAttr = ' hidden' -%}
                {%- if filter.open -%}
                    {%- assign open = 'true' -%}
                    {%- assign hidden = 'false' -%}
                    {%- assign hiddenAttr = '' -%}
                {%- endif -%}
                {%- if filter.options.size == 1 -%}
                <fieldset class="filter-options {{ filter.key }}-filter-options">
                    <ul id="filters-{{ filter.key }}">
                    {%- for option in filter.options -%}
                        {%- assign icon = "icon-tick" -%}
                        {%- if option.icon -%}
                            {%- assign icon = option.icon -%}
                        {%- endif -%}
                        <li class="filter-option {{ filter.key }} {{ filter.key }}_{{ option.key }}" data-id="{{ filter.key }}_{{ option.key }}">
                            <input type="checkbox" id="{{ filter.key }}_{{ option.key }}" name="{{ filter.key }}_{{ option.key }}" value="{{ filter.key }}_{{ option.key }}"{{ excl }}>
                            <span class="{{ icon }}"></span>
                            <label for="{{ filter.key }}_{{ option.key }}">{{ option.label }}</label>
                        </li>
                    {%- endfor -%}
                    </ul>
                </fieldset>
                {%- else -%}
                <fieldset class="filter-options {{ filter.key }}-filter-options accordion">
                    <legend>
                        <button type="button" class="accordion-trigger" id="trigger-{{ filter.key }}" aria-controls="filters-{{ filter.key }}" aria-expanded="{{ open }}" tabindex="0"><span>{{ filter.label }}</span></button>
                    </legend>
                    <ul id="filters-{{ filter.key }}" class="accordion-content" aria-hidden="{{ hidden }}" aria-labelledby="trigger-{{ filter.key }}"{{hiddenAttr }}>
                    {%- for option in filter.options -%}
                        {%- assign icon = "icon-tick" -%}
                        {%- if option.icon -%}
                            {%- assign icon = option.icon -%}
                        {%- endif -%}
                        <li class="filter-option {{ filter.key }} {{ filter.key }}_{{ option.key }}" data-id="{{ filter.key }}_{{ option.key }}">
                            <input type="checkbox" id="{{ filter.key }}_{{ option.key }}" name="{{ filter.key }}_{{ option.key }}" value="{{ filter.key }}_{{ option.key }}"{{ excl }}>
                            <span class="{{ icon }}"></span>
                            <label for="{{ filter.key }}_{{ option.key }}">{{ option.label }}</label>
                        </li>
                    {%- endfor -%}
                    </ul>
                </fieldset>
                {%- endif -%}
            {%- endfor -%}
            </div>
        </form>
