<footer id="footer-bar">
    <nav aria-label="footer navigation">
        <ul>
            <li><button type="button" class="modal-trigger icon-info-circled button-icon" data-dialoghash="about" data-dialogid="about-page"><span class="button-text" class="icon-tick">About</span></button></li>
            <li><button type="button" class="modal-trigger icon-universal-access button-icon" data-dialoghash="accessibility" data-dialogid="accessibility-page"><span class="button-text">Accessibility</span></button></li>
            <li><button type="button" class="modal-trigger" data-dialoghash="privacy" data-dialogid="privacy-page">Privacy</button></li>
            <li><a target="external" href="https://www.leeds.ac.uk/termsandconditions">Terms<span class="hide-med"> &amp; Conditions</span></a></li>
            <li><a target="external" href="https://www.leeds.ac.uk/freedom-of-information">F<span class="hide-med">reedom </span>O<span class="hide-med">f </span>I<span class="hide-med">nformation</span></a></li>
            <li><button type="button" class="modal-trigger" data-dialoghash="about" data-dialogid="about-page">&copy;<span class="hide-med"> {{ "now" | date: "%Y" }}</span><span class="hide-small"> University of Leeds</span></button></li>
        </ul>
    </nav>
</footer>

{% include modal-includes.html %}

{% include custom-foot.html %}

<script src="{{ "/assets/scripts/bundle.js" | absolute_url }}"></script>
{%- if site.google_maps_api_key -%}
{%- include google-maps.html -%}
{%- endif -%}
