<footer id="footer-bar">
    <nav>
        <ul>
            <li><a href="{{ "/privacy/" | absolute_url }}">Privacy</a></li>
            <li><a href="{{ "/accessibility/" | absolute_url }}">Accessibility</a></li>
            <li><a href="{{ "/terms/" | absolute_url }}">Terms<span class="hide-small"> &amp; Conditions</span></a></li>
            <li>&copy; {{ "now" | date: "%Y" }}<span class="hide-med"> University of Leeds</span></li>
        </ul>
    </nav>
</footer>
<script src="{{ "/assets/scripts/bundle.js" | absolute_url }}"></script>
    {% include custom-foot.html %}
