<div id="listcontrols" class="top-controls">
    <p>Showing <span id="listshowingcount"></span> of <span id="listtotalcount"></span> spaces <span id="listsearchterm"></span><span id="listfilters"></span></p>
    <button id="sortalpha" data-sortdir="" class="btn">Sort A-Z <span id="sortalphadir"></span></button>
    <button type="button" class="geo-button btn" disabled>Use my location</button>
    <button id="sortdistance" data-sortdir="" class="btn" disabled>Sort by distance <span id="sortdistancedir"></span></button>
</div>
<div id="listcontent" class="panel-content"></div>
<div id="single-space">
    <nav>
        <button id="ss-close">Close</button>
    </nav>
    <div class="single-space--content"></div>
</div>