<div id="accessibility-page" class="dialog-container" aria-labelledby="accessibility-page-title" aria-describedby="accessibility-page-description" aria-hidden="true">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div role="document" class="dialog-content">
        <header>
            <button type="button" class="button dialog-close" data-a11y-dialog-hide aria-label="Close dialog">&times;</button>
            <h1 id="accessibility-page-title">Accessibility</h1>
            <p class="visuallyhidden" id="accessibility-page-description">Accessibility statement for Spacefinder</p>
        </header>
        <article>
            {% capture accessibility_page %}{% include pages/accessibility.md %}{% endcapture %}
            {{ accessibility_page | markdownify }}
        </article>
    </div>
</div>

<div id="privacy-page" class="dialog-container" aria-labelledby="privacy-page-title" aria-describedby="privacy-page-description" aria-hidden="true">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div role="document" class="dialog-content">
        <header>
            <button type="button" class="button dialog-close" data-a11y-dialog-hide aria-label="Close dialog">&times;</button>
            <h1 id="privacy-page-title">Privacy &amp; Cookies</h1>
            <p class="visuallyhidden" id="privacy-page-description">Privacy and cookies statement for Spacefinder</p>
        </header>
        <article>
            {% capture privacy_page %}{% include pages/privacy.md %}{% endcapture %}
            {{ privacy_page | markdownify }}
        </article>
    </div>
</div>

<div id="terms-page" class="dialog-container" aria-labelledby="terms-page-title" aria-describedby="terms-page-description" aria-hidden="true">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div role="document" class="dialog-content">
        <header>
            <button type="button" class="button dialog-close" data-a11y-dialog-hide aria-label="Close dialog">&times;</button>
            <h1 id="terms-page-title">Terms &amp; Conditions</h1>
            <p class="visuallyhidden" id="terms-page-description">Terms and Conditions statement for Spacefinder</p>
        </header>
        <article>
            {% capture terms_page %}{% include pages/terms.md %}{% endcapture %}
            {{ terms_page | markdownify }}
        </article>
    </div>
</div>

<div id="sfalertdialog" class="dialog-container" role="alertdialog" aria-labelledby="sfalertdialog-title" aria-describedby="sfalertdialog-description" aria-hidden="true">
    <div class="dialog-overlay"></div>
    <div role="document" class="dialog-content alert-dialog">
        <header>
            <button type="button" class="button dialog-close" data-a11y-dialog-hide aria-label="Close dialog">&times;</button>
            <h1 id="sfalertdialog-title"></h1>
        </header>
        <article>
            <p id="sfalertdialog-description"></p>
        </article>
    </div>
</div>
