<script>var domain = 'http://127.0.0.1:4000/';</script>
<script id="add-tag-template" type="text/template">
    {% include templates/add-tag.html %}
</script>
<script id="add-tip-template" type="text/template">
    {% include templates/add-tip.html %}
</script>
<script id="list-space-template" type="text/template">
    {% include templates/list-space.html %}
</script>
<script id="map-multi-space-template" type="text/template">
    {% include templates/map-multi-space.html %}
</script>
<script id="map-single-space-template" type="text/template">
    {% include templates/map-single-space.html %}
</script>
<script id="search-template" type="text/template">
    {% include templates/search.html %}
</script>
<script id="space-detail-template" type="text/template">
    {% include templates/space-detail.html %}
</script>
<script id="space-tip-template" type="text/template">
    {% include templates/space-tip.html %}
</script>
