<script>var domain = 'http://127.0.0.1:4000/';</script>
<script id="add-tag" type="text/template">
    {% include templates/add-tag.html %}
</script>
<script id="add-tip" type="text/template">
    {% include templates/add-tip.html %}
</script>
<script id="list-space" type="text/template">
    {% include templates/list-space.html %}
</script>
<script id="map-multi-space" type="text/template">
    {% include templates/map-multi-space.html %}
</script>
<script id="map-single-space" type="text/template">
    {% include templates/map-single-space.html %}
</script>
<script id="search" type="text/template">
    {% include templates/search.html %}
</script>
<script id="space-detail" type="text/template">
    {% include templates/space-detail.html %}
</script>
<script id="space-tip" type="text/template">
    {% include templates/space-tip.html %}
</script>
