.btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 6px;
    background: $buttonbg;
    color: $buttoncolor;
    cursor: pointer;
    padding: .5rem .2rem;
    border: 1px solid $buttonborder;
    &.active {
        background: $buttonbg-active;
        color: $buttoncolor-active;
    }
    &:focus {
        border: 1px solid $buttonborder-focus;
    }
    &[disabled] {
        cursor: default;
        background: $buttonbg-disabled;
        color: $buttoncolor-disabled;
    }
    &.icon-distance {
        &::before {
            margin:0;
            font-size: 24px;
            content: '\e609'; 
        }
        &::after {
            margin:0;
            font-size: 12px;
            content: '\e609'; 
        }
    }
}
.geo-button {
    padding: 0;
    font-size: 26px;
    background: $buttonbg;
    color: $buttoncolor;
    user-select: none;
    cursor: pointer;
    &::before {
        margin:0;
    }
    &:hover {
        background: $buttonbg-hover;
        color: $buttoncolor-hover;
    }
    &.active {
        background: $buttonbg-active;
        color: $buttoncolor-active;
    }
}
.button {
    line-height: 1;
    min-width: 10rem;
    border: 0;
    font-size: 1rem;
    padding: 0.8em 1.8em;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid $color-black;
    color: $color-white;
    background: $color-black;
    &-primary {
        border: 2px solid $color-brand-2--dark;
        color: $color-white;
        background: $color-brand-2--dark;
    }
    &-secondary {
        border: 2px solid $color-brand-2--dark;
        color: $color-brand-2--dark;
        background: $color-white;
    }
    &:hover, &:active {
        text-decoration: none;
        box-shadow: 0 3px 6px 0 rgba($color-black, 0.15), 0 2px 4px 0 rgba($color-black, 0.12);
    }
}
#listfilters {
    .search-term,
    .filter-term {
        font-size: .9em;
        border: none;
        border-bottom: 1px dashed $buttoncolor;
        background: $buttonbg;
        cursor: pointer;
        &.icon-remove:after {
            content: '\e602';
            margin-left: .5rem;
            font-size: .8rem;
        }
    }
}
