.btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 6px;
    background: $buttonbg;
    color: $buttoncolor;
    cursor: pointer;
    padding: .5rem .2rem;
    border: 1px solid $buttonborder;
    &.active {
        background: $buttonbg-active;
        color: $buttoncolor-active;
    }
    &:focus {
        border: 1px solid $buttonborder-focus;
    }
    &[disabled] {
        cursor: default;
        background: $buttonbg-disabled;
        color: $buttoncolor-disabled;
    }
}
.geo-button {
    padding: 0;
    background: $buttonbg;
    color: $buttoncolor;
    user-select: none;
    cursor: pointer;
    svg {
        pointer-events: none;
    }
    .icon-stroke {
        stroke: $buttoncolor;
    }
    .icon-fill {
        fill: $buttoncolor;
    }
    &:hover {
        .icon-stroke {
            stroke: $buttoncolor-hover;
        }
        .icon-fill {
            fill: $buttoncolor-hover;
        }
    }
    &.active {
        background: $buttonbg-active;
        svg {
            .icon-stroke {
                stroke: $buttoncolor-active;
            }
            .icon-fill {
                fill: $buttoncolor-active;
            }
        }
    }
}