/**
 * Main layout
 *
 * This contains rules to create the main layout
 *
 * +--------------------------------------------+
 * | #top-bar                                   |
 * +--------------------------------------------+
 * | #spacefinder                               |
 * +--------------------------------------------+
 * | #footer-bar                                |
 * +--------------------------------------------+
 *
 * and the spacefinder layout, which changes according to screen size
 */
#maincontainer {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    #top-bar {
        height: $topbarheight;
    }
    #footer-bar {
        height: $footerheight;
        padding: $footerpaddingy $footerpaddingx;
    }
    #spacefinder {
        flex: 1;
        display: flex;
        height: calc(100vh - (#{$topbarheight} + #{$footerheight}));
        width: 100vw;
        overflow: hidden;
        #filters, #list, #map {
            width: 100vw;
            flex: 0 0 100vw;
            &.active {
                display: block;
            }
        }
        #filters, #list {
            display: none;
            margin-left: -100vw;
            max-height: calc(100vh - (#{$topbarheight} + #{$footerheight}));
            &.active {
                margin-left: 0;
            }
            .panel-content {
                overflow-y: auto; 
            }
        }
        #filters {
            .top-controls {
                height: $controlsheight;
            }
            .panel-content {
                max-height: calc(100vh - (#{$topbarheight} + #{$footerheight} + #{$controlsheight}));
            }
        }
        #list {
            .top-controls {
                height: $listcontrolsheight;
            }
            .panel-content {
                max-height: calc(100vh - (#{$topbarheight} + #{$footerheight} + #{$listcontrolsheight}));
            }
        }
        #map {
            height: calc(100vh - (#{$topbarheight} + #{$footerheight}));
        }
        @media screen and (min-width: #{$breakpoint-large}) {
            #filters, #list, #map {
                display: block;
                transition: all .5s;
            }
            #filters {
                position:relative;
                width: $filterswidth;
                margin-left: -$filterswidth;
                transition: all .5s;
                flex: 0 0 $filterswidth;
                &.active {
                    margin-left: 0;
                }
            }
            #list {
                position:relative;
                flex: 1 0 $listwidth;
                margin-left: 0;
            }
            #map {
                position:relative;
                flex: 3 1 auto;
            }
        }
    }
}