#listcontrols {
    background: $filterbg;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    p {
        width: 100%;
        margin: 0 3px;
        padding:.5rem;
    } 
    button {
        width: calc(33% - 6px);
        margin: 3px;
    }
}
#listcontent {
    padding: .5rem;
    .list-space {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        &:hover {

        }
        &.hidden {
            display:none;
        }
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $separatorcolor;
        a {
            color: $color-link;
            &:hover {
                color: $color-link--hover;
            }
            &:visited {
                color: $color-link--visited;
            }
            &:active {
                color: $color-link--active;
            }
            text-decoration: none;
        }
        h2 {
            font-weight: normal;
            padding-bottom: .3rem;
        }
        h3 {
            font-weight: normal;
            padding-bottom: .3rem;
            display:flex;
            flex-direction: row;
            align-items: baseline;
            gap: 2em;
            span {
                flex: 1;
                &.space-type {
                    color: $highlighttextcolor;
                    &.space-type-library {
                        color: $highlighttextcoloralt;
                    }
                }
                &.address {
                    color: $lighttextcolor;
                    text-align: right;
                    float: right;
                    font-size: .9rem;
                }
            }
        }
        .space-details {
            .space-image {
                width: 50%;
                height:250px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                float: left;
                margin: 0 1em 1em 0;
            }
        }
    }

}
#single-space {

}