.invisible {
  visibility:hidden;
}
dialog {
    display: block;
    border: 0;
  }
  /* removes scroll when modal is opened */
  .no-scroll {
    overflow: hidden;
  }
  /* overlay covers everything */
  .simple-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $modaloverlay;
    opacity: .8;
    z-index: 666;
    cursor: pointer;
  }
  .simple-modal-overlay[data-background-click="disabled"] {
    cursor: auto;
  }

  /* modal */
  .simple-modal {
    position: fixed;
    left: 15%;
    top: 5%;
    width: 70%;
    height: 90%;
    border: 2px solid $modalborder; 
    background: $modalbg;
    z-index: 667;
    padding: 2em;
    right: auto;
    overflow: auto;
  }
  .simple-modal-close {
    float: right;
    background: $closebuttonbg;
    border-radius: 3px;
    color: $closebutton;
    border: 0;
    font: inherit;
    padding: .25em .5em;
    cursor: pointer;
  }
  .simple-modal-close:focus,
  .simple-modal-close:hover,
  .simple-modal-close:active {
    outline: 2px dotted $closebuttonbg-active;  
  }
  .simple-modal-close:hover,
  .simple-modal-close:active {
    color: $closebutton-active;
    background: $closebuttonbg-active;
  }
  
  /* it can be easily adapted in media-queries for tablets/mobile */
  
  /* for this example: tablets */
  @media (max-width: 55.625em) {
  
    .simple-modal,
    .simple-animated-modal {
      left: 5%;
      top: 5%;
      height: 90%;
      width: 90%;
    }
    
  }
  
  /* for this example: mobile */
  @media (max-width: 44.375em) {
  
    .simple-modal,
    .simple-animated-modal {
      left: 1%;
      top: 1%;
      width: 98%;
      height: 98%;
    }
  
  }