name: update-library-opening-hours-scheduled
on:
  schedule:
    - cron: '30 5 * * 1'
jobs:
  update-opening:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: main
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Update and commit
        run: | 
          cd main
          npm run updateOpening
          npm run concat
          git config --global user.name 'peteredwards'
          git config --global user.email 'p.l.edwards@leeds.ac.uk'
          git add --all
          git diff-index --quiet HEAD || (git commit -am "[bot] Library Opening Hours updated from calendar JSON feed" && git push)
